.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

*{
  margin: 0;
}
.select{
  width: 70vw;
  margin: 2%;
    background-color: white;
    border-radius: 4px;
}
.video{
    width: 100vw !important;
}
h1 , h2,span{
    color: white;
}
.input{
    color: white;
}
